/*** phone devices ***/
@media (max-width: 400px) {

  .navbar-nav a {
    font-size: 1.15em;
  }

  .my-jumbotron {
    background-image: url("../images/interior_576_324.png");
    height: 250px;
    padding-top: 55px;
  }

  .restaurant-title {
    font-size: 1.8em;
  }  

  .restaurant-subtitle {
    margin-top: 25px;
    font-size: 1.7em;
  }

  .greeting-heading {
    font-size: 1.6em;
    margin-bottom: 20px;
  }

  .elements-blocks {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  #take-away {
    min-height: 100px;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .buffet-heading {
    font-size: 1.6em;
    margin-bottom: 12px;
  }
  
  .event-image {
    background-image: url("../images/firmenfeier_352_251.jpg");
    height: 220px;
  }

  .event-info {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
  .event-heading {
    font-size: 1.35em;
  }

  .anfahrt {
    margin-bottom: 30px;
  }

  .google-map {
    width: 200px;
    height: 200px; 
  }

  .map {
    width: 200px;
    height: 200px; 
    min-height: 0px; 
    margin-bottom: 30px;
  }

  .anfahrt-heading {
    font-size: 1.3em;
    margin-bottom: 10px;
  }

  .anfahrt-address {
    line-height: 1.7em;
  }

  .hours-heading {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .hours {
    margin-left: 5px;
    line-height: 1.7em;
  }

  .col-contact {
    margin-bottom: 20px;
  }

  .impressum {
    font-size: 0.9em;
  }

  .datenschutz {
    font-size: 0.9em;
  }

  .facebook {
    font-size: 0.9em;
  }

  div.footer-element {
    margin-bottom: 6px;
  }

}
